.sign-in {
    //width: 30vw;  //viewportun (ekranın o anki büyüklüğünün) yüzde 30'u anlamındadır
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .buttons {
      display: flex;
      justify-content: space-between;  
    }

}